* {
    padding: 0px;
    margin: 0px;
}

body * {
    outline: 1px solid pink;
}

.foundation {
    margin: 0px;
    padding: 0px;
    flex-flow: row nowrap;
    background-color: #b9936c;
}

.topPortion {
    margin: 0px;
    padding: 0px;
}

.topPortion img {
    flex: 1;
}